.about-container{
    display: flex;
    align-items: center;
    height: max-content;
    width: 100%;
    padding: 60px 100px;
}

.about-text{
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 20px;
}

.about-text > h3{
    font-size: 48px;
    font-weight: 700;
}

.about-text > p{
    padding-top: 60px;
    font-size: 20px;
}

.about-eligibility{
    padding-top: 30px;
}

.about-eligibility > ul{
    list-style-type: none;
}

.e-item{
    margin-bottom: 20px;
}

.about-eligibility > p{
    font-weight: 700;
    margin-bottom: 24px;
}

.about-gallery{
    width: 50%;
    display: flex;
    align-items: center;
}

.about-gallery >img{
    max-width: 555px;
    height: 100%;    
}

@media screen and (max-width: 768px) {
    .about-container{
        flex-direction: column;
        padding: 10px;
    }

    .about-text,
    .about-eligibility{
        font-size: 1rem;
    }

    .about-gallery >img{
        width: auto ;
        max-width: 100% ;
    }
}

@media screen and (max-width: 480px) {
    .about-container{
        flex-direction: column;
        padding: 10px;
    }

    .about-text,
    .about-eligibility{
        font-size: 1rem;
    }

    .about-gallery >img{
        width: auto ;
        max-width: 100% ;
    }
}


