.faq{
  background: url('../../public/gadient2.jpg') center center/cover no-repeat; 
  height: max-content;
  padding: 60px 100px;

}
  
.faq-title {
    font-size: 48px;
    font-weight: 700;
  }
  
  .accordion {
    max-width: 50%;
    margin: 0.5rem auto;
    font-size: 20px;

  }
  
  .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    border: 3px solid #fff;
    border-radius: 15px;
    margin-bottom: 1rem;
  }
  
  .accordion-title:hover {
    border: 1px solid #FBB5B5;

  }
  
  .accordion-title,
  .accordion-content {
    padding: 0.5rem;
  }
  
  .accordion-content {
    background-color: transparent;
  }
  
  @media screen and (max-width: 700px) {
    body {
      font-size: 18px;
    }
  
    .accordion {
      width: 90%;
    }
  }