.faq{
    background: url('../../public/gadient2.jpg') center center/cover no-repeat; 
    height: max-content;
    padding: 60px 100px;
  
  }
    
  .faq-title {
      font-size: 48px;
      font-weight: 700;
    }

.column1{
    width: 50%;
    margin-right: 3rem;
}

.column2{
    width: 50%;
}
    
.faq-container{
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    justify-content: stretch;
}

.faq-answer{
    font-size: 18px;
}


.faq-item{
    margin-bottom: 2rem;
}


@media screen and (max-width: 768px) {
    .faq{
        padding: 10px;

    }
    .faq-container{
        font-size: 24;
        flex-direction: column;
    }
    
    .column1,
    .column2{
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    
    .faq-container{
        font-size: 16px;
        flex-direction: column;
    }
    
    .column1,
    .column2{
        width: auto;
    }
}