@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Roboto:wght@500&display=swap');

.navbar{
    background-color: #fff;
    height: 120px;
    border-top: 1px solid #FBB5B5;
    /* font-size: 1.2rem; */
    
    font-family: 'Poppins', sans-serif;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 6rem;
}

.navbar-logo{
    color: #FBB5B5;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10rem;
    list-style: none;
    text-align: center;
}

.nav-item{
    height: 120px;

}

.nav-links{
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
}

.nav-links:hover{
    border-bottom: 4px solid #FBB5B5;
    transition: all 0.2s ease-out;
}

