@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Roboto:wght@500&display=swap');

.footer{
    background-color: #fff;
    height: 80;
    border-top: 1px solid #000;
    font-family: 'Poppins', sans-serif;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.footer-logo{
    height: 60px;
    padding: 10px; 
}

.footer-menu{
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    grid-gap: 10rem;
    list-style: none;
    text-align: center;
}

.footer-item{
    height: 80px;
}

.footer-links{
    color: #000;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
}

.footer-links:hover{
    border-bottom: 4px solid #FBB5B5;
    transition: all 0.2s ease-out;
}

/* .footer-source{
    text-decoration: none;
    color: #000;
}
 */
