.schedule-section{
    height: max-content;
    width: 100%;
    padding: 60px 100px;
}

.schedule-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    box-sizing: border-box;
    font-size: 48px;
    font-weight: 700;
}

.subtitle{
    color: #FF7E70;
    font-size: 26px;
    margin-bottom: 32px;
}


.schedule{
   width: 70%;
}

.schedule-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    border-bottom: 2.5px solid #888888;
    gap: 64px;
    margin: 20px;
}

.time{
    font-size: 32px;
    color: #000;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.activity{
    font-size: 24px;
    text-align: left;
}
@media screen and (max-width: 480px) {
    .schedule-section{
        width: 100%;
        padding: 10px;
    }
    .schedule{
        width: 80%;
    }

    .time,
    .activity{
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 768px) {
    
    .time,
    .activity{
        font-size: 1rem;
    }

    .schedule{
        width: 80%;
    }

    .schedule-section{
        height: max-content;
        width: 100%;
        padding: 10px;
    }
    }
    