.sponsors-container{
    background: url('../../public/gadient2.jpg') center center/cover no-repeat; 

    height: max-content;
    padding: 60px 100px;
    /* width: 100%; */
}


.sponsors-title{
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 60px;
}

.companies-logo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    
}

.logo{
    max-width: 250px;
    display: flex;
    justify-content: center;
    height: 80px;
    margin: auto;
    padding-bottom: 2rem;
}

.logo>img{
    display: block;
    object-fit: contain;
}

