.sponsors-container{
    height: max-content;
    padding: 60px 100px;
    width: 100%;
}


.sponsors-title{
    font-size: 48px;
    font-weight: 700;
}

.companies-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    width: 50%;
    display: flex;
    justify-content: center;
    height: 80px;
    margin: 3rem 0;
}

