.team-container{
    /* background: url('../../public/gadient2.jpg') center center/cover no-repeat;  */
    height: max-content;
    padding: 60px 100px;

}

.team-title{
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 60px;
}

.team-info{
    display: flex;
    /* flex-direction: 1fr 1fr; */
    /* justify-content: center; */
}

.team-description{
    font-size: 20px;
    align-items: center;
    justify-content: center;
    padding-right: 60px;
}

.team-social{
    padding: 64px 0 24px;
    font-weight: 500;
}

.icons{
    margin-right: 24px;
    height: 30px;
}

.team-photo{
    width: 50%;
    display: flex;
    align-items: center;
} 

.team-photo > img{
    max-width: 555px;
    object-fit: contain;
}

@media screen and (max-width: 768px) {

    .team-container{
        padding: 60px 10px;
    }
    .team-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* flex-direction: 1fr 1fr; */
        /* justify-content: center; */
    }

    

    .team-photo{
        width: 100%;
        padding: 3rem;
    }
    .team-photo > img{
        display: block;
        width: auto ;
        max-width: 100% ;
        object-fit: contain;
    }}

    
@media screen and (max-width: 480px) {

    .team-container{
        padding: 10px;
    }

    
    .team-info{
        display: flex;
        flex-direction: column;
        /* flex-direction: 1fr 1fr; */
        /* justify-content: center; */
    }

    .team-photo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .team-photo > img{
        display: block;
        width: auto ;
        max-width: 100% ;
        object-fit: contain;

    }}