.team-container{
    background: url('../../public/gadient2.jpg') center center/cover no-repeat; 
    height: max-content;
    padding: 60px 100px;

}

.team-title{
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 60px;
}

.team-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    /* justify-content: center; */
}

.team-description{
    font-size: 20px;
    align-items: center;
    justify-content: center;
    padding-right: 60px;
}

.team-social{
    padding: 64px 0 24px;
    font-weight: 500;
}

.icons{
    margin-right: 24px;
    height: 30px;
}

.team-photo{
    width: 50%;
    display: flex;
    align-items: center;
} 

.team-photo > img{
    max-width: 555px;
    height: 100%;
}